@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.fav {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 3rem 0 3rem 1rem;
        width: auto;

        @include tablet {
            padding-left: 2rem;
        }

        @include desktop {
            padding-left: 3.5rem;
        }
    }
    &__list-wrapper {
        align-items: flex-start;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
