@use "./variables" as *;

// MEDIA QUERIES
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin buttonlike {
    display: flex;
    padding: 0.625rem 1.25rem;
    font-weight: bold;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    border: none;
    border-radius: 0.25rem;
    border: 1px solid $primary-font;
    background-color: $secondary-bg;
    cursor: pointer;
    color: $secondary-font;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth hover effect */

    &:hover {
        background-color: #007bff; /* Adjust hover background color */
        color: $secondary-font; /* Adjust hover text color */
        border: 1px solid #007bff;
    }
}
