@use "./variables" as *;

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin buttonlike {
    align-items: center;
    background-color: $secondary-bg;
    border-radius: 0.25rem;
    border: 1px solid $secondary-bg;
    color: $secondary-font;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth hover effect */

    &:hover {
        background-color: #007bff; /* Adjust hover background color */
        border: 1px solid #007bff;
        color: $secondary-font; /* Adjust hover text color */
    }
}
