@use "./mixin" as *;
@use "./variables" as *;

@font-face {
    font-family: "PlayfairDisplaysSC";
    src: url(../fonts/PlayfairDisplaySC-Bold.ttf) format(truetype);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "PlayfairDisplaysSC";
    src: url(../fonts/PlayfairDisplaySC-BoldItalic.ttf) format(truetype);
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: "PlayfairDisplaysSC";
    src: url(../fonts/PlayfairDisplaySC-Italic.ttf) format(truetype);
    font-style: italic;
}
@font-face {
    font-family: "PlayfairDisplaysSC";
    src: url(../fonts/PlayfairDisplaySC-Regular.ttf) format(truetype);
    font-style: normal;
}

/* Typography styles for headings */
h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
}

/* Typography styles for paragraphs */
p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: normal;
}
