@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.profile {
    align-items: flex-start;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
    width: 100%;

    &__header {
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        margin-bottom: 1.25rem;
        width: 100%;
    }

    &__user-rating,
    &__picture-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__user-rating {
        align-items: flex-start;
    }

    &__image-container {
        align-items: flex-start;
        background-color: lightgrey;
        border-radius: 50%;
        display: flex;
        height: 5rem;
        justify-content: center;
        margin: 0 auto;
        overflow: hidden;
        width: 5rem;
    }

    &__image {
        height: 100px;
        object-fit: cover;
        object-position: center top;
        width: 100px;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: flex-end;
        padding-bottom: 1rem;
        width: 100%;
    }

    &__columns {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .column {
            flex: 1;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    &__detail,
    &__input {
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 1.125rem;
        padding: 0.5rem;
        width: 100%;

        &:focus {
            border-color: #007bff;
            outline: none;
        }
    }

    &__detail--bio {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-height: 25rem;
        overflow-y: auto;
    }

    &__detail--error {
        border: 1px solid red;
    }

    &__label {
        display: block;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    &__edit-submit,
    &__toggle-edit {
        @include buttonlike;
        cursor: pointer;
        padding: 0.75rem 1.5rem;
        transition: background-color 0.3s;
        width: auto;

        &:hover {
            background-color: darken($color: #007bff, $amount: 5%);
        }
    }

    &__toggle-edit {
        &:hover {
            color: $secondary-font;
            background-color: $secondary-bg;
        }
    }

    &__image-input,
    &__text-area {
        width: 100%;
    }
    &__text-area {
        min-height: 6rem;
    }
}

.readonly {
    border: none;
    cursor: auto;
    outline: none;

    &--pic {
        display: none;
    }
}
