@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__list {
        width: auto;
        display: flex;
        justify-content: flex-start;
        padding: 3rem 0;
        flex-wrap: wrap;
        padding-left: 1rem;
        @include tablet {
            padding-left: 2rem;
        }
        @include desktop {
            padding-left: 3.5rem;
        }
    }
    &__list-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
}
