@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    @include desktop {
        margin-top: 2rem;
    }

    &__list-wrapper {
        align-items: flex-start;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 1rem 0 1rem 1rem;
        width: auto;

        @include tablet {
            padding: 2rem 0 2rem 2rem;
        }

        @include desktop {
            padding: 3rem 0 3rem 3.5rem;
        }
    }
}
