@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.header {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $primary-font;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); // Adds a subtle shadow for depth
    align-items: center;

    &__logo {
        font-family: Pacifico, Cursive, "Brush Script MT", "Comic Sans MS",
            "Dancing Script", Arial, sans-serif;
        color: $primary-font;
        cursor: pointer;
        &:hover {
            color: $secondary-font;
        }
    }
    &__login {
        @include buttonlike;
        // padding: 2rem;
    }
    &__actions {
        position: relative;
    }
    &__logout {
        @include buttonlike;
        background-color: white;
        color: $highlight-font;
        position: absolute;
        left: 0;
        top: 100%; // Adjust as necessary
        width: 100%;
        display: none;
        &--shown {
            display: block;
        }
    }
}
