@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.banner {
    position: relative;

    &__title {
        font-family: "Playfair Display SC", serif;
        left: 10%;
        position: absolute;
        top: 50%;
    }
}

.subbanner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin: 5rem 20%;
    text-align: center;

    &__description {
        font-size: 1.125rem;
        line-height: 1.5;
    }
}

.landing {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__start {
        @include buttonlike;
        margin-top: 2rem;
        width: 10rem;
    }
}

.userlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 50vw;
    overflow: hidden;
    padding: 3rem 0;
    width: 100%;
}
