@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.userlist {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
    flex-wrap: wrap;
    max-height: 50vw;
    overflow: hidden;
}

.banner {
    position: relative;

    &__title {
        top: 50%;
        position: absolute;
        left: 10%;
        font-family: PlayfairDisplaysSC, Arial;
    }
}
.subbanner {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    margin: 5rem 20%;
    align-items: center;
    text-align: center;
    &__description {
        line-height: 1.5;
        font-size: 1.125rem;
    }
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__start {
        @include buttonlike;
        margin-top: 2rem;
        width: 10rem;
    }
}
