@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.profile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    gap: 1rem;
    padding: 2rem 10rem; // Ensures consistent padding around the form
    border-radius: 0.5rem;
    margin: 2rem;
    margin-top: 5.8rem;
    &__add-outfit {
        @include buttonlike;
        height: 2.5rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-bottom: 1.25rem; // Adjust based on your layout
        flex-direction: row;
        gap: 1rem;
        &--right {
            display: flex;
        }
    }
    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: white;
        gap: 1rem;
        padding: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    &__columns {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .column {
            flex: 1;
            &:not(:last-child) {
                margin-right: 10px; // Adjust spacing between columns
            }
        }
    }

    &__detail,
    &__input {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;

        border-radius: 4px;
        box-sizing: border-box;

        &:focus {
            border-color: #007bff;
            outline: none;
        }
    }

    &__detail--error {
        border: 1px solid red;
    }

    &__label {
        display: block;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    &__edit-submit {
        @include buttonlike;
        padding: 0.75rem 1.5rem;
        width: auto;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($color: #007bff, $amount: 5%);
        }
    }

    &__toggle-edit {
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 0.5rem;

        &:hover {
            color: $secondary-font;
            background-color: $secondary-bg;
        }
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;

        object-fit: cover;
        object-position: center top;
    }
    &__image-container {
        position: relative;
        align-items: flex-start;
        background-color: lightgrey;
        border-radius: 50%; // Circular profile image
        display: flex;
        height: 200px;
        justify-content: center;
        margin: 0 auto; // Center the image
        overflow: hidden;
        width: 3.5rem;
        height: 3.5rem;
    }
    &__picture-wrapper {
        gap: 1rem;
        display: flex;
        flex-direction: column;
        width: 13rem;
    }
    &__image-input {
        width: 1px;
        height: 1px;
        color: white;
        cursor: pointer;
    }
    &__image-label {
        @include buttonlike;
    }
    &__button {
        @include buttonlike;
        width: 100%;

        &--cancel {
            background-color: white;
            color: $primary-font;
            margin-bottom: 1rem;
        }
        &--edit {
            margin-bottom: 1rem;
        }
    }
    &__text-area {
        width: 100%;
    }
}

.readonly {
    cursor: auto;
    border: none;
    outline: none;
    &--pic {
        display: none;
    }
}
